{%  extends 'email/base.html.twig' %}

{%  block body %}
    <h3>Greetings {{ user.firstName ? user.firstName : 'User' }},<h3>
    <p>
        Your eduity account has requested to have your password reset.<br/> 
   
        
        <a href="{{ url('security_user_reset_password_confirmation', {'user': user.id, 'code': user.resetPasswordCode()}) }}">Click here to reset password.</a>
    </p>
   
{%  endblock %}